

<div class="container" style="margin-top:30px">
  <div class="row">
    
    <div class="col-sm-1.5">
      
     
     
      <ul class="nav nav-pills flex-column">
        <li class="nav-item">
          <a class="nav-link active" href="#"> 相关信息</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://kw.ruankao.org.cn/sign/welcome">考务管理入口</a>

        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://bm.ruankao.org.cn/sign/welcome">报名入口</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://query.ruankao.org.cn/score/main">成绩查询</a>
        </li>
      </ul>
      <hr class="d-sm-none">
    </div>
    
        
        <table width="970" border="0" cellspacing="1" cellpadding="0" bgcolor="#ccc" id="exam_table">
            <tr>
              <td colspan="2" rowspan="2" align="center" valign="middle" bgcolor="#EEEEEE">资格<br />
                  总表</td>
                  <td height="30" colspan="5" align="center" valign="middle" bgcolor="#EEEEEE">全国计算机技术与软件专业技术资格（水平）考试资格 专业类别</td>
                </tr>
                <tr>
                  <td width="180" height="30" align="center" valign="middle" bgcolor="#EEEEEE">计算机软件</td>
                  <td width="180" height="30" align="center" valign="middle" bgcolor="#EEEEEE">计算机网络</td>
                  <td width="180" height="30" align="center" valign="middle" bgcolor="#EEEEEE">计算机应用技术</td>
                  <td width="180" height="30" align="center" valign="middle" bgcolor="#EEEEEE">信息系统</td>
                  <td width="180" height="30" align="center" valign="middle" bgcolor="#EEEEEE">信息服务</td>
                </tr>
                <tr>
                  <td width="35" rowspan="3" align="center" valign="middle" bgcolor="#EEEEEE">级<br />
          别<br />
          层<br />
          次</td>
                  <td width="35" height="40" align="center" valign="middle" bgcolor="#EEEEEE">高级<br />
                  资格</td>
                  <td height="40" colspan="5" align="center" valign="middle" bgcolor="#FFFFFF"><a href="http://www.hbsoft.net/ws/shiti/kaoshi_01.asp" target="_blank" class="red9">信息系统项目管理师</a>　<a href="http://www.hbsoft.net/ws/shiti/kaoshi_02.asp" target="_blank" class="red9">系统分析师</a>　<a href="#" class="black9">系统架构设计师</a>　<a href="#" class="black9">网络规划设计师</a>　<a href="#" class="red9">系统规划与管理师</a></td>
                </tr>
                <tr>
                  <td width="35" height="100" align="center" valign="middle" bgcolor="#EEEEEE">中级<br />
                  资格</td>
                  <td width="180" height="100" align="center" valign="middle" bgcolor="#FFFFFF"><p><a href="http://www.hbsoft.net/ws/shiti/kaoshi_14.asp" target="_blank" class="black9">软件评测师</a></p>
                  <p><a href="http://www.hbsoft.net/ws/shiti/kaoshi_15.asp" target="_blank" class="red9">软件设计师</a></p>
                  <p><a href="#">软件过程能力评估师</a></p></td>
                  <td width="180" height="100" align="center" valign="middle" bgcolor="#FFFFFF"><a href="http://www.hbsoft.net/ws/shiti/kaoshi_24.asp" target="_blank" class="red9">网络工程师</a></td>
                  <td width="180" height="100" align="center" valign="middle" bgcolor="#FFFFFF"><p><a href="http://www.hbsoft.net/ws/shiti/kaoshi_34.asp" target="_blank" class="black9">多媒体应用设计师</a></p>
                  <p><a href="http://www.hbsoft.net/ws/shiti/kaoshi_35.asp" target="_blank" class="black9">嵌入式设计师</a></p>
                  <p><a href="#">计算机辅助设计师</a></p>
                  <p><a href="http://www.hbsoft.net/ws/shiti/kaoshi_37.asp" target="_blank" class="black9">电子商务师</a></p></td>
                  <td width="180" height="100" align="center" valign="middle" bgcolor="#FFFFFF"><p><a href="http://www.hbsoft.net/ws/shiti/kaoshi_43.asp" target="_blank" class="red9">系统集成项目管理工程师</a></p>
                  <p><a href="http://www.hbsoft.net/ws/shiti/kaoshi_44.asp" target="_blank" class="red9">信息系统监理师</a></p>
                  <p><a href="#" class="red9">信息安全工程师</a></p>
                  <p><a href="http://www.hbsoft.net/ws/shiti/kaoshi_45.asp" target="_blank" class="red9">数据库系统工程师</a></p>
                  <p><a href="http://www.hbsoft.net/ws/shiti/kaoshi_46.asp" target="_blank" class="red9">信息系统管理工程师</a></p></td>
                  <td width="180" height="100" align="center" valign="middle" bgcolor="#FFFFFF"><p><a href="#">计算机硬件工程师</a></p>
                  <p><a href="#">信息技术支持工程师</a></p></td>
                </tr>
                <tr>
                  <td width="35" height="50" align="center" valign="middle" bgcolor="#EEEEEE">初级<br />
                  资格</td>
                  <td width="180" height="50" align="center" valign="middle" bgcolor="#FFFFFF"><a href="http://www.hbsoft.net/ws/shiti/kaoshi_18.asp" target="_blank" class="red9">程序员</a></td>
                  <td width="180" height="50" align="center" valign="middle" bgcolor="#FFFFFF"><a href="http://www.hbsoft.net/ws/shiti/kaoshi_28.asp" target="_blank" class="red9">网络管理员</a></td>
                  <td width="180" height="50" align="center" valign="middle" bgcolor="#FFFFFF"><p><a href="#">多媒体应用制作技术员</a></p>
                  <p><a href="http://www.hbsoft.net/ws/shiti/kaoshi_39.asp" target="_blank">电子商务技术员</a></p></td>
                  <td width="180" height="50" align="center" valign="middle" bgcolor="#FFFFFF"><a href="http://www.hbsoft.net/ws/shiti/kaoshi_48.asp" target="_blank" class="black9">信息系统运行管理员</a></td>
                  <td width="180" height="50" align="center" valign="middle" bgcolor="#FFFFFF"><p><a href="#">网页制作员</a></p>
                  <p><a href="http://www.hbsoft.net/ws/shiti/kaoshi_58.asp" target="_blank" class="red9">信息处理技术员</a></p></td>
                </tr>
                <tr>
                  <td height="30" colspan="7" align="center" valign="middle" bgcolor="#EEEEEE"><span class="black9">注：预计</span><span class="red9">红色</span>为2019年上半年（5月25日）开考项目</td>
                </tr>
          </table>
              
          <div class="container">
            <form [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm.value)">
              <h3 class="ui header"> 浙江省软考报名登录系统</h3>
              <div class="form-group">
                <label for="usernameInput">Username:</label>
                <div *ngIf="!loginForm.valid" class="alert alert-danger">
                  <strong>Error！</strong>Form is invalid
                </div>
                <input type="text" class="form-control" 
                [ngClass]="{'is-invalid' :username.hasError('required')}"
                id="usernameInput" placeholder="input user name " name="username"
                  [formControl]="username">
              </div>
              <div class="form-group">
                <label for="passwordInput">Password:</label>
                <div *ngIf="password.hasError('required')" class="alert alert-danger">
                  <strong>Error！</strong>The password required
                </div>
                <input type="password" class="form-control"
                [ngClass]="{'is-invalid' :password.hasError('required')}"
                id="passwordInput" placeholder="input user password"
                  name="password" [formControl]="password">
              </div>
              <div class="form-check">
                <label class="form-check-label">
                  <input class="form-check-input" type="checkbox"> Remember me
                </label>
              </div>
              <button type="submit" class="btn btn-primary">Submit</button>
            </form>
          
          
          </div>
          
  </div>
</div>

