<div class="col-sm-10">
<div class="col middle-column">
		
			
		<div class="article">
			
			<div class="article-heading">
					<h2>关于我自己</h2>
				</div>
			<div class="table table-hover table-striped margin:0 auto;width:100px">
				<p><b>个人简历</b></p>
				<table cellpadding="0" cellspacing="0" border="1">
				  <tr>
					<td width="64" height="33">姓名</td>
					<td width="109">王恺翔</td>
					<td width="73">性别</td>
					<td width="46">男</td>
					<td width="112">民族</td>
					<td width="159">汉族</td>
					<td width="154" rowspan="4"><p ><img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1557550717&di=d0b9a97f6c133276dda5117f9d8b1b32&imgtype=jpg&er=1&src=http%3A%2F%2F08.imgmini.eastday.com%2Fmobile%2F20170903%2F20170903072459_de0ed2ca8b951f18920a6732020a58e8_3.jpeg" width="154" height="203" /></p></td>
				  </tr>
				  <tr>
					<td height="31">身高</td>
					<td>175cm</td>
					<td>体重</td>
					<td>65kg</td>
					<td>政治面貌</td>
					<td>团员</td>
				  </tr>
				  <tr>
					<td height="31">学制</td>
					<td>三年制</td>
					<td>学历</td>
					<td>专科</td>
					<td>毕业时间</td>
					<td>2020.07</td>
				  </tr>
				  <tr>
					<td height="46">户籍</td>
					<td colspan="3">安徽省铜陵市</td>
					<td>出生年月</td>
					<td>1997.10.25</td>
				  </tr>
				  <tr>
					<td height="39">专业</td>
					<td>物联网</td>
					<td>毕业学校</td>
					<td colspan="2">浙江机电技术学院</td>
					<td>就业范围</td>
					<td>杭州</td>
				  </tr>
				  <tr>
					<td height="39">外语水平</td>
					<td colspan="3"><p> 英语四级  </p></td>
					<td>计算机水平</td>
					<td colspan="2"><p >信息处理员 阿里云云计算助理工程师</p></td>
				  </tr>
				  <tr>
					<td><p >奖励情况</p></td>
					<td colspan="6"><p >2018年获得数学建模省三等奖 </p>
					  <p >2018年获得省新苗计划 </p>
					  <p >17-18学年二等奖学金</p>
					  <p >17-18学年三好学生</p>
					<p > </p></td>
				  </tr>
				  <tr>
					<td><p >通讯地址</p></td>
					<td colspan="4"><p >浙江省杭州市下沙区XXX</p></td>
					<td><p >联系电话</p></td>
					<td><p >173xxxxxxxx</p></td>
				  </tr>
				  <tr>
					<td><p >E-mail</p></td>
					<td colspan="3"><p >351113579@qq.com</p></td>
					<td>邮编</td>
					<td>xxxxxxx</td>
					<td>&nbsp;</td>
				  </tr>
				  <tr>
					<td height="28" colspan="7">教育经历</td>
				  </tr>
				  <tr>
					<td colspan="7"><p >2010年9月至2013年7月&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;安徽省铜陵市二中</p></td>
				  </tr>
				  <tr>
					<td colspan="7"><p >2013年9月至2016年7月&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;浙江机电技术学院</p></td>
				   </tr>
				  <tr>
					<td colspan="4">个人网站</td>
					<td colspan="3"></td>
				  </tr>
				</table>
				<p>&nbsp;</p>
													
				
			
				
			</div>

		</div>

	</div>
</div>